/*global element styling*/
:root {
	--softgreen: #97B131;
	--highgreen: #5B8F22;
	--highgreen2: #549E25;
	--darkgreen: #024731;
	--softyellow: #FAFBF2;
	--softyellow2: #EDF0CA;
	--darkyellow: #FEF4DD;
	--yellow: #DCAF32;
}

* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-style: normal;
	color: #000;
	line-height: 1.4;
}

#page-wrapper {
	position:relative;
}

li {
	text-decoration: none;
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

h1 h2 h3 h4 h5 h6 {
}

h2 {
	text-align: center;
	padding-bottom: 2rem;
	color: var(--darkgreen);
}

h3 {
	text-align: center;
	font-size: 26px;
}

/*global classes styling*/

.container {
	width: 100%;
	margin: 0 auto;
}

#header {
	width: 100%;
	top: 0;
	min-height: 100px;
	padding: 0 20px;
	display: flex;
	justify-content:space-around;
	align-items: center;
	background-color: #eee;
	padding-right: 0;
}

.logo {
	width: 30vh;
}

#header-img {
	height: 70px;
	border-radius: 12px;
}

#nav-bar ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#nav-bar ul li {
	padding: 0 20px;
}

#nav-bar a:active, a:focus, a:hover{
	border-bottom: 3px solid green;
	color: green;
}

#hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px 150px;
	background-image: url(https://media.sunbasket.com/library/img/home/hero/main-1680x520.jpg);
	background-size: cover;
	background-position: 50%;
	text-align: center;
}

#hero h2  {
	font-weight: 400;
	font-size: 40px;
	padding: 20px 0;
	line-height: 1.5;
	color: var(--darkgreen);
}

@media screen and (max-width: 800px) {
	#hero h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 20px;
	}
}

#hero span {
	font-size: 19px;
	color: var(--highgreen);
}

#hero .container {
	width: auto;
	max-width: 380px;
}

#hero .cta-list {
	margin-bottom: 40px;
}

#hero .cta-list-item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

#hero .cta-list-items {
	display: flex;
	align-items: center;
	text-align: left;
}

#hero .fa-solid {
	border: none;
	font-size: 28px;
	width: unset;
	height: unset;
	padding: 20px;
	color: var(--yellow);
}

#form input {
	border: 1px solid #ccc;
	border-radius: 65px;
	text-indent: 0;
	height: 50px;
	line-height: 40px;
	width: 100%;
	margin-bottom: 10px;
	padding: 6px 12px;
	font-size: 18px;
	outline: none;
	background-color: #fff;
	box-shadow: none;
	text-align: center;
}

#form .btn {
	background-color: var(--highgreen2);
	border: 1px solid green;
	color: white;
	font-size: 22px;
	line-height: 1;
	height: 50px;
	border-radius: 65px;
	margin-top: 5px;
}
#form .btn:hover {
	background-color: green;
}

#features {
	max-width: 1300px;
	margin: auto;
	padding: 80px 20px;
	text-align: center;
}

.desc p {
	font-size: 18px;
	font-weight: 600;
	color: #6b6b6b;
	padding-top: 1rem;
}

@media screen and (min-width: 800px ) {
	h2 {
		font-size: 38px;
		max-width: 800px;
		margin: auto;
	}

	p {
		max-width: 800px;
		margin: auto;
	}
	iframe {
	margin-top: 60px;
	width: 800px;
	height: 450px;
}
}

.icon-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 50px;

}

.grid {
	flex-basis: 215px;
	align-items: center;
	text-align: center;
	gap: 40px;
	width: 100%;
	min-width: 340px;
	margin: 20px auto;
}

.grid h3 {
	color: var(--darkgreen);
}

.grid .fa-solid {
	color: orange;
	color: var(--highgreen);
	font-size: 50px;
	border: 3px solid var(--highgreen);
	margin-bottom: 24px;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
}

@media screen and (max-width: 1100px) {
	#features {
		max-width: 740px;
	}
	.icon-grid {
		flex-direction: column;
	}
}

#how-it-works {
	max-width: 1300px;
	margin: auto;
	padding: 0px 20px 60px 20px;
	text-align: center;
}

iframe {
	margin-top: 3rem;
}

@media screen and (max-width: 600px) {
	iframe {
		width: 100%;
		height: 212px;
	}
}

#pricing {
	max-width: 1280px;
	margin: 20px auto;
	gap: 40px;
}

#pricing h2 {
	text-align: center;
}

.product-grid {
	display: flex;
	/*flex-wrap: wrap;*/
	justify-content: space-between;
	padding: 0 20px 0 20px;
	gap: 40px;
}

@media screen and (max-width: 1100px) {
	.product-grid	{
		flex-direction: column;
		margin: auto;
		align-items: center;
	}
	.product {
		width: unset;
	}
}

.product {
	display: flex;
	flex-direction: column;
	width: calc(100%/3);
	padding: 10px 20px 40px 20px;
	margin: 10px;
	align-items: center;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
}

@media screen and (max-width:600px) {
	.product-grid {
		max-width: 80%;
	}
}

.level {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.level img {
	width: 100%;
	margin: 20px auto;
	padding: 0 20px;
}

.product li {
	margin: 20px 0;
}

.btn {
	width: 80%;
	background-color: var(--highgreen2);
	border: 1px solid green;
	color: white;
	font-size: 22px;
	line-height: 1;
	height: 50px;
	border-radius: 65px;
	margin-top: 15px;
	padding: 12px;
}

.btn:hover {
	background-color: green;
	color: #fff;
}

.btn-text {
	margin: auto;
	text-align: center;
}

.btn-text a {
	color: var(--highgreen2);
}

footer {
	margin-top: 60px;
}

@media only screen and (max-width: 1100px) {
	.logo {
	width: unset;
	}
	
	#hero {
		padding: 50px 40px;
	}

	.grid {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}	
	.product-grid {
		flex-direction: column;
	}
	.product {
		max-width: 400px;
		width: 100%;
		margin: auto;
		margin-bottom: 20px;
	}
}

.product li {
	padding-bottom: 18px;
	border-bottom: 1px solid #ddd;
}

.product li:nth-last-of-type(1) {
	padding-bottom: unset;
	border-bottom: unset;
}


@media only screen and (max-width: 450px) {
	#hero {
		background-image: unset;
		margin-top: -24px;
	}

	#nav-bar ul li {
		padding: 0 12px;
		font-size: 15px;
	}
	#features {
		padding: 0px 20px 40px 20px;
	}
}


@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

#hero-small {
	margin: 60px auto;
}

.hero-small {
	padding: 150px 150px;
	background-image: url(./Images/philips-nutriU-app-connected-kitchen-solutions.jpeg);
	background-size: cover;
	background-position: 50%;
}

div.hero-small-content {
	max-width: 1280px;
	margin: auto;
	padding: 0 30px;
	color: #fff;
	text-shadow: 2px 2px 20px  #111;
}

.hero-small-content h3 {
	font-size: 42px;
	text-align: left;
}

.hero-small-content p {
	margin: 0;
	font-weight: 600;
}

@media screen and (max-width:1000px) {
	.hero-small {
		padding: 250px 50px;
	}
}

@media screen and (max-width: 600px) {
	.hero-small {
		padding: 60px 20px;
	}
}

.buttons-store {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin: auto;
	padding: 60px 0; }
